.header-container{
    height: 120px;
    width: 100%;
    
    background: #9C835F;
    ;
}

.flexbox-item{
    display: flex;
    flex-direction: row;
    margin: 10px;
    font-size: 50px;
    text-align: center;

    
    
    
    
}

.flexbox-item1{
    height: 100px;
    width: 100px;
    

}

.logo img{

    width: 80px ;
    height: 80p x;
    align-items: center;
    margin-top: 10px;
    

}

.title-game{
    font-family: Open Sans;
font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 49px;
letter-spacing: 0px;
text-align: center;
margin-top: 20px;
color: orange;


}







#back{font-family: Open Sans;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 98px;
    letter-spacing: 0.1em;
    text-align: left;
    text-align: center;
    color:rgb(85, 12, 12);
    

}

.flexbox-item2{
    height: 100px;
    width: 100px;
    


}
.flexbox-item3{

    height: 100px;
    width: 500px;
    

}





/*CSS GRID MAIN*/
.main-container{
    width: 100%;
    height: 1000px;
    
    background: #9C835F;
    

}
.grid-container{
    display: grid;
    row-gap: 20px;
    column-gap: 50px;
  grid-template-columns:500px 500px 500px;
 grid-auto-rows: 200px ;
    justify-content: center;
  

}


.transition{
    background-color: white;
    border-radius: 10px;
    
 }


#box-result{
    font-size: 12;
    color:red
}  


.tes2{background-color: #9C835F;
    display: none}

#tes {

 font-size: 80px;
    color:yellow;
    align-items: center;
    padding-left: 30px;
    transform: rotate(345deg) ;
    background-color: green;
    text-align: center;
    
}























#player{
    font-size: 40px;
    text-align: center;
    color:black;
    font-family: sans-DRAWf;
    margin-top: 50px;
    font-style: italic;

}

#computer{
    font-size: 40px;
    text-align: center;
    color:black;
    font-family: sans-DRAWf;
    margin-top: 50px;
    font-style: italic;
    margin-right: 0px;


}


#box-center{
    font-family: Open Sans;
font-size: 170px;
font-style: normal;
font-weight: 700;
line-height: 196px;
letter-spacing: 0.1em;
text-align: center;
color: red;
margin-left: 140px;

}

#box-result{
    display:none;
    font-size: 5vw;
    color: white;
    padding: 10px 15px;
    max-width: 350px;
    background-color: green;
    transform: rotate(-20deg);
}

#batu-1 img {
    width: 150px;
    height: 150px;
}
#batu-1{
    align-items: center;
    margin: 200px
    ;
}
#batu-2{
    align-items: center;
    margin: 200px
    ;
}

#gunting-1{
    align-items: center;
    margin: 200px
    ;
}
#gunting-2{align-items: center;
    margin: 200px
    ;

}

#kertas-1{align-items: center;
    margin: 200px
    ;

}

#kertas-2{align-items: center;
    margin: 200px
    ;

}
#refresh-1 {
    align-items: center;
    margin: 200px 200px 100px 200px
    ;

    
}


#batu-2 img {
    width: 150px ;
    height: 150px ;
    align-items: center;

}

#gunting-1 img{
    width: 150px ;
    height: 150px ;
    align-items: center;
}

#gunting-2 img{
    width: 150px;
    height: 150px;
    align-items: center;
}


#kertas-1 img{
    width: 150px;
    height: 150px;
    align-items: center;
}


#kertas-2 img{
    width: 150px;
    height: 150px;}
   


 #refresh-1 img {
    width: 50px;
    height: 50px;
}

.grid-item1{

    align-items: center;
    
    
    }

.grid-item2{
    
    align-items: center;
}



.grid-item3{
    
    text-align: center;
}

#grid-item4{
    
    align-items: center;
    display: flex;
    cursor: pointer;
    
}

#grid-item5{
    align-items: center;
    display: flex;
    

}

#grid-item6{
    
    align-items: center;
    display: flex;
    cursor: pointer;

}

#grid-item7{
    
    align-items: center;
    display: flex;
    cursor: pointer;
    
}

.grid-item8{display: flex;
    

    
    
    
}

.grid-item9{ align-items: center;
    display: flex;
    cursor: pointer;

}
   
#grid-item10{ 
    align-items: center;
    display: flex;
    cursor: pointer;

} .grid-item11{ 
    align-items: center;
    display: flex;
    cursor: pointer;

} #grid-item12{ 
    align-items: center;
    display: flex;
    cursor: pointer;
} 

#refresh:hover,#playerbatu:hover,#komputerbatu:hover,#playergunting:hover,#komputergunting:hover,#playerkertas:hover,#komputerkertas:hover { 

    background-color: white;
    
    

}



